/* stylesheet for geolocation map */

/* Absolutely necessary for Google Maps version 3 */
html {
	height: 100%;
}

/* Absolutely necessary for Google Maps version 3 */
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#map_canvas {
	width: 90%;
	height: 90%;
	margin: 0 auto;
}